<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
	   					   http://www.springframework.org/schema/context
	   					   http://www.springframework.org/schema/context/spring-context.xsd">

<!-- Aqui la clase PlantHbmDAO se aperinga el alias en la inyeccion en PlantService -->
    <bean id="PlantHbmDAO" name="plantDAO"  class="com.plantplaces.dao.PlantHbmDAO"/>
    <bean id="SpecimenHbmDAO" name="specimenDAO"  class="com.plantplaces.dao.PlantHbmDAO"/>
    
    
    <!-- Si pongo esto primero, la clase PlanDAOStub le gana a la clase PlantHbmDAO la
    "supremacia" por el alias en la inyeccion en PlantService -->
    <context:component-scan base-package="com.plantplaces"/>

</beans>